html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  }

body {
	background-color: black;
}
#links {
	width: 100%;
	text-align: center;	
}
#imp, #dp {	
	display: inline-block;
}
#imp {
	margin-right: 5%;
}
#numbers {	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
#number_left, #delimiter, #number_right {	
	display: inline-block;
	color: red;
	/*font-size: calc(12vw + 12vh + 6vmin);*/
	font-size: calc(12vw + 12vh + 6vmin);       	
}
#inp_numbers {
	position: fixed;
    bottom: 0;
    width: 100%;
}
#inp_numbers_right, #inp_numbers_left {
	position: fixed;
	bottom: 0;
}
#inp_numbers_left {
	left:0;		
}
#inp_numbers_right {	
	right:0;			
}
#inp_numbers_right button, #inp_numbers_left button {	
	margin-bottom: 1%;
}